<!DOCTYPE HTML>
<html>
<head>
    <style>
        .button {
            border: none;
            background:#861a22;
            padding: 8px;
            width: 180px;
            display: flex;
            overflow: hidden;
            color: white;
            font-weight: bold;
            margin: auto;

        }

        .button__inner-wrapper {
            width: 100%;
            white-space: nowrap;
            transform: translateX(-100%);
            transition: transform .3s ease;
        }

        .button__content {
            width: 100%;
            display: inline-block;
        }

        .button:hover .button__inner-wrapper {
            transform: translateX(0);
        }
        #buttonAnzeigen:hover{
            color:#861a22;
            background-color:transparent ;
        }

        table.dataTable tbody tr.selected {
            color: black !important;
            background-color: #E6D1D2!important;
        }

        #buttonAnzeigen{
            background-color: transparent;
            border: white;
        }
        ::selection{
            background-color:white!important;
            color:black;
        }

    </style>
</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div ><a href="/buchungen/startseite_breuninger"><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-lg-9 text-right menu-2" style="padding-top: 20px; padding-left: 120px;">
                        <ul>
                            <li><a href="/buchungen/startseite_breuninger"><span class="fa fa-home"></span> Startseite</a></li>
                            <li class="active"><a href="/users/Benutzerverwaltung_Mitarbeiter"><span class="fa fa-user"></span> Benutzerverwaltung</a></li>
                            <li><a href="/buchungen/torverwaltung"><i class="fas fa-archway"></i> Torverwaltung</a></li>
                            <li><a href="/users/logout"><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <div class="container-wrap">
        <div class="flexslider">
            <h1> Benutzerverwaltung</h1>
            <div>
                <table id="tabelle" class="table table-striped cell-border table-hover" cellspacing="0" style="text-align: center">
                    <thead>
                    <tr>
                        <th style="text-align: center">User-ID</th>
                        <th style="text-align: center">Rolle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%for (var i = 0; i < users.length; i++) { %>
                    <tr>
                    <td><%=users[i].username%></td>
                    <td><%=users[i].admin%></td>
                    <form action="username" method="POST">
                        <input type="hidden" name="username" value="<%=users[i].username%>">
                        <td><button id="buttonAnzeigen" type="submit" name="username" data-toggle="tooltip" title="Anzeigen"><a href="/users/benutzerinfo_breuninger"><i class="fas fa-search"></i></a></button></td>
                    </form>
                    </tr>
                    <!-- hallo -->
                    <%}%>
                    </tbody>
                </table>
                <script>
                    /*open_selected();
                    function open_selected() {
                        var table = document.getElementById('tabelle');
                        var cells = table.getElementsByTagName('td');

                        for (var i = 0; i < cells.length; i++) {
                            // Take each cell
                            var cell = cells[i];
                            // do something on onclick event for cell
                            cell.onclick = function () {
                                // Get the row id where the cell exists
                                var rowId = this.parentNode.rowIndex;

                                var rowsNotSelected = table.getElementsByTagName('tr');
                                for (var row = 0; row < rowsNotSelected.length; row++) {
                                    rowsNotSelected[row].style.backgroundColor = "";
                                    rowsNotSelected[row].classList.remove('selected');
                                }
                                var rowSelected = table.getElementsByTagName('tr')[rowId];
                                rowSelected.style.backgroundColor = "yellow";
                                rowSelected.className += " selected";

                                msg = 'The ID rsof the company is: ' + rowSelected.cells[0].innerHTML;
                                msg += '\nThe cell value is: ' + this.innerHTML;

                                var userid = rowSelected.cells[0].innerHTML;
                                alert(userid);
                            }
                        }

                    }*/
                </script>
                <div>
                    <form action="/users/neuerUSer_MA" style="padding: 25px">
                        <button class="button">
				<span class="button__inner-wrapper">
     				 <span class="button__icon button__content">
						<i class="fas fa-plus"></i>
					 </span>
				         <span class="button__label button__content">User anlegen</span>
				</span>
                        </button></form>
                </div>
            </div>
        </div>
    </div><!-- END container-wrap -->
    <div class="container-wrap">
        <footer id="fh5co-footer" role="contentinfo">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Kontaktinformation</h4>
                    <div class="fh5co-footer">
                        <p><br> E. Breuninger GmbH & Co. <br> <i class="fas fa-home"></i> &nbsp Eschenbrünnlestraße 11, 71065 Sindelfingen
                            <br><i class="fas fa-phone-alt"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 98</a>&nbsp;
                            <br>Mo-Fr 8:00 bis 13:00 Uhr
                            <br><i class="fas fa-print"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 </a>&nbsp;
                            <br><i class="fas fa-envelope"></i><a href="mailto:info@breuninger.com"> &nbsp info@breuninger.com</a>
                            <br><a href="https://www.breuninger.com/de/"> www.breuninger.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-12 text-center"style="margin-bottom: 10px">
                    <p>
                        <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                    </p>
                </div>
            </div>
        </footer>
    </div><!-- END container-wrap -->
</div>
<script>
    $(document).ready(function () {


        var table = $('#tabelle').DataTable({
            bInfo: false,
            paging:false,
            searching: true,
            scrollY:"300px",
            ScrollCollapse: true,
            "columnDefs": [
                { "width": "20px", "targets": [0,1],
                "width": "90px", "targets": 2}
            ]
        });

        $('#tabelle tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        } );

        $('#button').click( function () {
            table.row('.selected').remove().draw( false );
        });

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript">
    function click(link){return false;}
</script>
</body>
</html>
