<!DOCTYPE HTML>
<html>
<head>
    <style>
    </style>
</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div ><a href="/buchungen/startseite_spediteur" ><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-xs-9 text-right menu-1">
                        <ul>
                            <li class="active"><a href="/buchungen/startseite_spediteur"><span class="fa fa-home"></span> Startseite</a></li>
                            <li><a href="Benutzerinfo_Spediteur.html"><span class="fa fa-user"></span> Benutzerinformation</a></li>
                            <li><a href=""><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-wrap" style="background-color: lightgray">
        <div class="flexslider">
            <table id="example" class="display">
                <thead>
                <tr>
                    <th>Sendungsstruktur</th>
                    <th>Tor</th>
                    <th>Buchungsdatum</th>
                    <th>Uhrzeit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>KEP</td>
                    <td>2</td>
                    <td>29.10.19</td>
                    <td>11:00-11:20</td>
                </tr>
                <tr>
                    <td>SPN</td>
                    <td>3</td>
                    <td>29.10.19</td>
                    <td>11:10-11:30</td>
                </tr>
                <tr>
                    <td>SPN</td>
                    <td>3</td>
                    <td>29.10.19</td>
                    <td>11:10-12:20</td>
                </tr>
                <tr>
                    <td>HW</td>
                    <td>7</td>
                    <td>30.10.19</td>
                    <td>15:00-15:20</td>
                </tr>
                <tr>
                    <td>SPN</td>
                    <td>3</td>
                    <td>29.10.19</td>
                    <td>11:10-11:30</td>
                </tr>
                <tr>
                    <td>SPN</td>
                    <td>3</td>
                    <td>29.10.19</td>
                    <td>11:30-12:20</td>
                </tr>
                <tr>
                    <td>HW</td>
                    <td>7</td>
                    <td>30.10.19</td>
                    <td>15:00-15:20</td>
                </tr>
                <tr>
                    <td>SPN</td>
                    <td>3</td>
                    <td>29.10.19</td>
                    <td>11:10-11:30</td>
                </tr>
                <tr>
                    <td>SPN</td>
                    <td>3</td>
                    <td>29.10.19</td>
                    <td>11:30-12:20</td>
                </tr>
                <tr>
                    <td>HW</td>
                    <td>7</td>
                    <td>30.10.19</td>
                    <td>15:00-15:20</td>
                </tr>
                </tbody>
            </table>
            <div>
                <form action="" style="padding: 25px"><button class="button">
				<span class="button__inner-wrapper">
     				 <span class="button__icon button__content">
						<i class="fas fa-plus"></i>
					 </span>
				<span class="button__label button__content">
       				Buchung hinzufügen
				</span>
				</span>

                    </button></form>
            </div>
        </div>
    </div><!-- END container-wrap -->
    <div class="container-wrap">
        <footer id="fh5co-footer" role="contentinfo">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Kontaktinformation</h4>
                    <div class="fh5co-footer">
                        <p> E. Breuninger GmbH & Co. <br> Eschenbrünnlestraße 11, 71065 Sindelfingen
                            <br>Tel-Nr. <a href="tel://1234567920">+ 49 1235 2355 98</a>
                            <br><a href="mailto:info@yoursite.com">info@breuninger.com</a>
                            <br><a href="http://gettemplates.co">www.breuninger.com</a>
                        </p>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- END container-wrap -->
</div>
<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Kontaktinformation</h4>
                <div class="fh5co-footer">
                    <p><br> E. Breuninger GmbH & Co. <br> <i class="fas fa-home"></i> &nbsp Eschenbrünnlestraße 11, 71065 Sindelfingen
                        <br><i class="fas fa-phone-alt"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 98</a>&nbsp;
                        <br>Mo-Fr 8:00 bis 13:00 Uhr
                        <br><i class="fas fa-print"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 </a>&nbsp;
                        <br><i class="fas fa-envelope"></i><a href="mailto:info@breuninger.com"> &nbsp info@breuninger.com</a>
                        <br><a href="https://www.breuninger.com/de/"> www.breuninger.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center"style="margin-bottom: 10px">
                <p>
                    <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                </p>
            </div>
        </div>
    </footer>
</div><!-- END container-wrap -->
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            searching: false,
            bInfo: false,
            paging: false,
        });

        $('#datepicker').datepicker();

        $('.input-container,.datepicker, .sendungen, .EUP, .EWP, .pakete, .bemerkung, .teile , .submit, .zeit ,.next').removeClass('active').hide();

        $('#pick').change(function () {
            var self = $(this);
            if (self.val() == 1) {
                $('.input-container,.datepicker,.sendungen, .EUP, .EWP, .pakete, .bemerkung,.submit ,.zeit, .next').addClass('active').show();
                $('.teile, .leer').hide();

            } else if (self.val() == 2) {
                $('.input-container, .datepicker, .sendungen, .pakete, .bemerkung, .submit, .zeit, .next').addClass('active').show();
                $('.EUP, .EWP, .teile, .leer').removeClass('active').hide();

            } else if (self.val() == 3) {
                $('.input-container,.datepicker, .sendungen, .EUP, .EWP, .pakete, .teile, .bemerkung ,.submit, .zeit,.next').addClass('active').show();
            } else {
                $('.input-container, .datepicker, .sendungen, .EUP, .EWP, .pakete, .bemerkung, .teile,.submit, .zeit, .next').removeClass('active').hide();
                $('.leer').show();
            }

            $('.zeit-value').text('');
            $('input[data-time]').val('');
        });

        $("#myForm").submit(function (event) {
            event.preventDefault();
            var timeResult = 0;
            var minValue;
            var selectedValue = $('#pick').val();
            var totalResult;

            if (selectedValue === 1) {
                minValue = 20;
            } else {
                minValue = 15;
            }

            var results = [];

            $('input[data-time]').each(function (index, elem) {

                if ($(elem).hasClass('active')) {
                    var time = $(this).attr('data-time'),
                        val = $(this).val();
                    var result = time * val;
                    $(this).attr('data-result', result);
                    if (time) {
                        results.push(result);
                    }
                }
            });

            // sum elements within array
            totalResult = results.reduce((a, b) => a + b, 0);

            if (totalResult < minValue) {
                totalResult = minValue;
            }

            $('.zeit-value').text(totalResult + " Minuten");
        });

        function setdefaults() {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                firstDay: 1,
                showAnim: 'slideDown',
                dateFormat: 'dd.mm.yy',
            });
            $("#datepicker").datepicker("setDate", new Date());

        }

        jQuery(function ($) {
            $.datepicker.regional['de'] = {
                clearText: 'löschen', clearStatus: 'aktuelles Datum löschen',
                closeText: 'schließen', closeStatus: 'ohne Änderungen schließen',
                prevText: '<zurück', prevStatus: 'letzten Monat zeigen',
                nextText: 'Vor>', nextStatus: 'nächsten Monat zeigen',
                currentText: 'heute', currentStatus: '',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni',
                    'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                monthStatus: 'anderen Monat anzeigen', yearStatus: 'anderes Jahr anzeigen',
                weekHeader: 'Wo', weekStatus: 'Woche des Monats',
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                dayNamesMin: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                dayStatus: 'Setze DD als ersten Wochentag', dateStatus: 'Wähle D, M d',
                dateFormat: 'dd.mm.yy', firstDay: 1,
                initStatus: 'Wähle ein Datum', isRTL: false
            };
            $.datepicker.setDefaults($.datepicker.regional['de']);
        });
    });
</script>