<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Breuninger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .submit {
            border-color: #861a22;
            background-color: white;
            border-bottom-color: #861a22;
        }
    </style>
</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div><a href="/buchungen/startseite_spediteur"><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 text-right menu-2" style="padding-top: 20px; padding-left: 120px;">
                        <ul>
                            <li class="active"><a href="/buchungen/startseite_spediteur"><span class="fa fa-home"></span>Startseite</a></li>
                            <li><a href="/users/benutzerinfo_spediteur"><span class="fa fa-user"></span>Benutzerinformation</a></li>
                            <li><a href="/users/logout"><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<form action="/buchungen/neueBuchung_spediteur" id ="myForm" method="POST">
    <div class="container-wrap">
        <div class="flexslider"  align="center" >
            <div>
                <h2>Neue Buchung</h2>
                <div class=" form-group card" id="hi" style="padding-top: 10px; padding-left: 30px; border-style: none;" >
                    <div class="ui-widget">
                        <select id="pick" name="sendungsstruktur" style="font-size: large; width: 300px">
                            <option value="0">Sendungsstruktur wählen..</option>
                            <option value="1">SPN - Liegeversand</option>
                            <option value="2">KEP - Paketversand</option>
                            <option value="3">HW - Liegeversand/Hängeversand</option>
                        </select>
                    </div>

                    <label for="sendungen" class="sendungen" style="padding-top: 30px;">Anzahl der geladenen Sendungen</label>
                    <input data-result="" data-time="5" type="text" class="form-control sendungen" id="sendungen" name="sendungen" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Anzahl der Sendungen angeben">

                    <label for="EUP" class="EUP" style="padding-top: 10px;">Anzahl der geladenen EUP</label>
                    <input data-result="" data-time="2" type="text" class="form-control EUP" id="EUP" name="EUP" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Anzahl der EUP angeben">

                    <label for="EWP" class="EWP" style="padding-top: 10px;">Anzahl der geladenen EWP</label>
                    <input data-result="" data-time="2" type="text" class="form-control EWP" id="EWP" name="EWP" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Anzahl der EWP angeben">

                    <label for="pakete" class="pakete" style="padding-top: 10px;">Anzahl der geladenen Pakete (lose) </label>
                    <input data-result="" data-time="1" type="text" class="form-control pakete" id="pakete" name="pakete" style="border-radius: 10px; height: 35px; width:300px;" placeholder="Anzahl der losen Pakete angeben">

                    <label for="bemerkung" class="bemerkung" style="padding-top: 10px;">Referenz</label>
                    <input type="text" class="form-control bemerkung" id="bemerkung" name="bemerkung" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Referenz angeben">

                    <label for="teile" class="teile" style="padding-top: 10px;">Anzahl der Teile</label>
                    <input data-result="" data-time="1" type="text" class="form-control teile" id="teile" name="teile" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Anzahl der Teile angeben">

                    <label for="submit" class="submit" style="padding-top: 10px;"></label>
                    <input type="button" class=" form-control submit" id="submit" style="text-align:center;border-radius: 10px; height: 40px; width: 300px; font-weight: bold; margin-top: 10px; color:#861a22 ;" value="Entladezeit berechnen">

                    <label class="zeit" style="padding-top: 20px">Benötigte Entladezeit:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <strong style="text-decoration: underline; color: #861a22;" class="zeit-value"></strong></label>

                    <label for="datepicker" class="datepicker" style="padding-top: 15px;"> Datum</label>
                    <div class="input-container" style="position: relative">
                        <i class="far fa-calendar-alt" id="datepicker1" style="padding:10px; position: absolute; left:36%; padding: 9px 8px;" aria-hidden="true"></i>
                        <input type="text" class="form-control datepicker" id="datepicker" name="datepicker" style="border-radius: 10px; height: 35px; width: 300px; padding-left: 40px;" placeholder="&nbsp &nbsp Wählen Sie ein Datum">
                    </div>

                    <label for="timepicker1" class="timepicker1" style="padding-top: 10px;">Uhrzeit von </label>
                    <div class="input-container" style="position: relative">
                        <i class="far fa-clock" style="padding:10px; position: absolute; left:36%; padding: 9px 8px;" aria-hidden="true"></i>
                        <input type="text" class="form-control timepicker1" id="timepicker1" name="timepicker1" style="border-radius: 10px; height: 35px; width: 300px; padding-left: 40px;" placeholder="&nbsp &nbsp Wählen Sie eine Ankunftszeit">
                    </div>

                    <label for="timepicker2" class="timepicker2" style="padding-top: 10px;">Uhrzeit von </label>
                    <div class="input-container" style="position: relative">
                        <i class="far fa-clock" style="padding:10px; position: absolute; left:36%; padding: 9px 8px;" aria-hidden="true"></i>
                        <input type="text" class="form-control timepicker1" id="timepicker2" name="timepicker1" style="border-radius: 10px; height: 35px; width: 300px; padding-left: 40px;" placeholder="&nbsp &nbsp Wählen Sie eine Ankunftszeit">
                    </div>

                    <label class="torauswahl" style="padding-top: 10px;">Torauswahl
                        <p><select id="torauswahl" name="torauswahl" style="padding:10px;font-size: large; width: 300px">
                                <% for (var i = 0; i < gate.length; i++){
                                    var gates = gate[i];%>
                                    <option value="<%=gates[i]%>"><%=gates[i]%></option>
                                <%}%>
                            </select></p></label>

                    <!-- <button type="submit" id="submit" name="submit" style="width: 90px;" class="next">Buchen</button>-->
                </div>
                <label class="leer" style="padding-top: 350px"></label>
                <div class="weiterT" align="center">
                    <form action="/buchungen/torauswahl" style="padding: 25px">
                        <button class="btn btn-primary">
				        <span class="button__inner-wrapper">

				             <span class="button_label button_content">
       					            Buchen &raquo;
                             </span>
				        </span>

                        </button>
                    </form>
                </div>
            </div>


        </div>
    </div><!-- END container-wrap -->
</form>
<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Kontaktinformation</h4>
                <div class="fh5co-footer">
                    <p><br> E. Breuninger GmbH & Co. <br> <i class="fas fa-home"></i> &nbsp Eschenbrünnlestraße 11, 71065 Sindelfingen
                        <br>Mo-Fr 07:00 bis 15:00 Uhr
                        <br><i class="fas fa-phone-alt"></i><a href="tel://1234567920"> &nbsp +49 (0) 7031 / 616 2437</a>&nbsp;
                        <br><i class="fas fa-print"></i><a href="tel://1234567920"> &nbsp +49 (0) 7031 / 616 2036</a>&nbsp;
                        <br><i class="fas fa-envelope"></i><a href="mailto:info@breuninger.com"> &nbsp wareneingang.logistik@breuninger.de</a>
                        <br><a href="https://www.breuninger.com/de/"> www.breuninger.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center"style="margin-bottom: 10px">
                <p>
                    <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                </p>
            </div>
        </div>
    </footer>
</div><!-- END container-wrap -->
<script>
    $(document).ready(function () {
        var zeit;
        var zeit2;
        $('#timepicker1').timepicker({
            timeFormat: 'HH:mm',
            interval: 5,
            minTime: '7',
            maxTime: '13',
            startTime: '7:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true,
            pickDate: false,
            pickSeconds: false,
            pick12HourFormat: false,
            change: function(time) {
                var element = $('#timepicker1');
                var timepicker = element.timepicker();
                zeit = timepicker.format(time);
                zeit.toString();
                console.log(zeit);


            }
        });
        $('#timepicker2').timepicker({
            timeFormat: 'HH:mm',
            interval: 5,
            minTime: '7',
            maxTime: '13',
            startTime: '7:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true,
            pickDate: false,
            pickSeconds: false,
            pick12HourFormat: false,
            change: function(time) {
                var element = $('#timepicker1');
                var timepicker = element.timepicker();
                zeit2 = timepicker.format(time);
                zeit2.toString();
                console.log(zeit2);


            }
        });

        $("#datepicker").datepicker();

        $('.input-container, .datepicker, .sendungen,.EUP, .EWP,.pakete, .bemerkung, .teile, .submit, .zeit,.timepicker1,.timepicker2,.torauswahl, .next, .weiterT').removeClass('active').hide();
        $('#pick').change(function () {
            var self = $(this);
            if (self.val() == 1) {
                $('.input-container,.datepicker,.sendungen, .EUP, .EWP, .pakete, .bemerkung,.submit, .zeit,.timepicker1,.timepicker2,.torauswahl,.next, .weiterT').addClass('active').show();
                $('.teile, .leer').removeClass('active').hide();
            } else if (self.val() == 2) {
                $('.input-container, .datepicker, .sendungen, .pakete, .bemerkung, .submit, .zeit,.timepicker2,.timepicker1,.torauswahl, .next , .weiterT').addClass('active').show();
                $('.EUP, .EWP, .teile, .leer').removeClass('active').hide();
            } else if (self.val() == 3) {
                $('.input-container,.datepicker, .sendungen, .EUP, .EWP, .pakete, .teile, .bemerkung ,.submit, .zeit,.timepicker2,.timepicker1,.torauswahl, .next, .weiterT').addClass('active').show();
            } else {
                $('.input-container, .datepicker, .sendungen, .EUP, .EWP, .pakete, .bemerkung, .teile,.submit, .zeit, .timepicker1,.timepicker2,.torauswahl,.next').removeClass('active').hide();
                $('.leer').show();
            }
            $('.zeit-value').text('');
            $('input[data-time]').val('');
        });


        $(".submit").click(function (event) {
            event.preventDefault();
            var timeResult = 0;
            var minValue;
            var selectedValue = $('#pick').val();
            var totalResult;
            if (selectedValue === 1) {
                minValue = 20;
            } else {
                minValue = 15;
            }
            var results = [];
            $('input[data-time]').each(function (index, elem) {
                if ($(elem).hasClass('active')) {
                    var time = $(this).attr('data-time'),
                        val = $(this).val();
                    var result = time * val;
                    $(this).attr('data-result', result);
                    if (time) {
                        results.push(result);
                    }
                }
            });
            // sum elements within array
            totalResult = results.reduce((a, b) => a + b, 0);
            if (totalResult < minValue) {
                totalResult = minValue;
            }
            $('.zeit-value').text(totalResult + " Minuten");
        });


        function setdefaults() {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                firstDay: 1,
                showAnim: 'slideDown',
                dateFormat: 'dd.mm.yy',
            });
            $("#datepicker").datepicker("setDate", new Date());

        }

        jQuery(function ($) {
            $.datepicker.regional['de'] = {
                clearText: 'löschen', clearStatus: 'aktuelles Datum löschen',
                closeText: 'schließen', closeStatus: 'ohne Änderungen schließen',
                prevText: '<zurück', prevStatus: 'letzten Monat zeigen',
                nextText: 'Vor>', nextStatus: 'nächsten Monat zeigen',
                currentText: 'heute', currentStatus: '',
                monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni',
                    'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthNamesShort: ['Jan', 'Feb', 'Mär', 'Apr', 'Mai', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                monthStatus: 'anderen Monat anzeigen', yearStatus: 'anderes Jahr anzeigen',
                weekHeader: 'Wo', weekStatus: 'Woche des Monats',
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                dayNamesMin: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
                dayStatus: 'Setze DD als ersten Wochentag', dateStatus: 'Wähle D, M d',
                dateFormat: 'dd.mm.yy', firstDay: 1,
                initStatus: 'Wähle ein Datum', isRTL: false
            };
            $.datepicker.setDefaults($.datepicker.regional['de']);
        });
    });
</script>
</body>
</html>