
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div ><a href="/users/test" ><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-xs-9 text-right menu-1">
                        <ul>
                            <li class="active"><a href="Startseite_Mitarbeiter.html"><span class="fa fa-home"></span> Startseite</a></li>
                            <li><a href="Benutzerverwaltung_Mitarbeiter.html"><span class="fa fa-user"></span> Benutzerverwaltung</a></li>
                            <li><a href="Torverwaltung_Mitarbeiter.html"><span class="fas fa-archway"></span> Torverwaltung</a></li>
                            <li><a href=""><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
            <%- include('./partials/messages'); %>
            <form action="/users/neuerUser_MA" method="POST">
                <div class="container-wrap">
                    <div class="flexslider" align="center">
                        <div>
                            <h2>Neuer Benutzer</h2>
                            <div class=" form-group card" style="padding-top: 10px; padding-left: 30px; border-style: none;">
                                <div class="ui-widget">
                                    <select id="pick" name="admin" style=" font-size: large; width: 300px">
                                        <option value="0" >Benutzer wählen..</option>
                                        <option value="spediteur">Spediteur</option>
                                        <option value="breuninger">Breuninger</option>
                                    </select>
                                </div>

                                <label for="username" class="username" style="padding-top: 30px;">Username</label>
                                <input type="text" minlength="3" class="form-control username" required id="username" name="usernames" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Username">

                                <label for="vorname" class="vorname" style="padding-top: 10px;">Name</label>
                                <input type="text" required class="form-control vorname" id="vorname" name="vorname" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Name">

                                <label for="name" class="name"style="padding-top: 10px;">Nachname</label>
                                <input type="text" class="form-control name" id="name" name="name" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Nachname">

                                <label for="division" class="division" style="padding-top: 10px;">Division</label>
                                <input type="text" class="form-control division" id="division" name="division" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Division">

                                <label for="strasse" class="strasse" style="padding-top: 10px;">Straße</label>
                                <input type="text" class="form-control strasse" id="strasse" name="strasse" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Straße des Standorts">

                                <label for="PLZ" class="PLZ" style="padding-top: 10px;">PLZ</label>
                                <input pattern="[0-9]{5}" maxlength="5" minlength="5" type="text" class="form-control PLZ" id="PLZ" name="PLZ" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="PLZ">

                                <label for="stadt" class="stadt" style="padding-top: 10px;">Stadt</label>
                                <input type="text" class="form-control stadt" id="stadt" name="stadt" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Stadt">

                                <label class="land" style="padding-top: 10px;">Land
                                    <p><select id="land" name="land" style="font-size: large; width: 300px">
                                            <option value="DE">DE</option>
                                            <option value="EN">EN</option> </select></p></label>

                                <label class="torauswahl" style="padding-top: 3px;">Tore
                                    <p><select id="torauswahl" multiple="multiple" name="torauswahl" style="font-size: large; width: 300px">
                                            <option value="tor1">Tor 1</option>
                                            <option value="tor2">Tor 2</option>
                                            <option value="tor3">Tor 3</option>
                                            <option value="tor6">Tor 6</option>
                                            <option value="tor7">Tor 7</option>
                                            <option value="tor9">Tor 9</option>
                                            <option value="tor10">Tor 10</option>
                                        </select></p></label>

                                <label for="telefon" class="telefon" style="padding-top: 10px;">Telefon<br><small>Format: +49 178 123456</small></label>
                                <input type="text" class="form-control telefon" id="telefon" pattern="[\+]\d{2}\d{5,20}" name="telefon" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Telefon">

                                <label for="email" class="email" style="padding-top: 10px;">Email</label>
                                <input type="email" class="form-control email" id="email" name="email" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Email">

                                <label for="password" class="password" style="padding-top: 10px;">Passwort</label>
                                <input type="password" required minlength="8" class="form-control password" id="password" name="password" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Passwort">

                                <label for="password2" class="password2" style="padding-top: 10px;">Passwort wiederholen</label>
                                <input type="password" required minlength="8" class="form-control password2" id="password2" name="password2" style="border-radius: 10px; height: 35px; width: 300px;" placeholder="Passwort wiederholen">

                                <!-- <label for="submit" class="submit" style="padding-top: 10px;"></label>
                                <input type="submit" class="btn btn-primary" id="submit" style="; height: 40px; width: 150px; font-weight: bold; margin-top: 10px;" value="Speichern"><br>
                                <label> -->
                                <br>
                                    <div class="submit">
                                    <button class="btn btn-primary">
                                        <span class="button__inner-wrapper">
                                            <span class="button__label button__content">
       					                             Speichern
                                             </span>
				                         </span>
                                    </button>
                                </label>
                            </div>
                            </div>
                            <label class="leer" style="padding-top: 350px"></label>
                        </div>
                    </div>
                </div><!-- END container-wrap -->
            </form>
            <div class="container-wrap">
                <footer id="fh5co-footer" role="contentinfo">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h4>Kontaktinformation</h4>
                            <div class="fh5co-footer">
                                <p><br> E. Breuninger GmbH & Co. <br> <i class="fas fa-home"></i> &nbsp Eschenbrünnlestraße 11, 71065 Sindelfingen
                                    <br><i class="fas fa-phone-alt"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 98</a>&nbsp;
                                    <br>Mo-Fr 8:00 bis 13:00 Uhr
                                    <br><i class="fas fa-print"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 </a>&nbsp;
                                    <br><i class="fas fa-envelope"></i><a href="mailto:info@breuninger.com"> &nbsp info@breuninger.com</a>
                                    <br><a href="https://www.breuninger.com/de/"> www.breuninger.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-12 text-center"style="margin-bottom: 10px">
                            <p>
                                <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                            </p>
                        </div>
                    </div>
                </footer>
            </div><!-- END container-wrap -->
            <script>
                $(document).ready(function () {
                    $('#example').DataTable({
                        searching: false,
                        bInfo: false,
                        paging: false,
                    });

                    $('.name, .zugehoerigkeit,.division, .strasse,.PLZ, .stadt, .username, .vorname, .land, .telefon, .email, .password, .password2, .submit,.torauswahl').hide();
                    $('#pick').change(function () {
                        if($('#pick').val() == "spediteur"){
                            $('.username, .vorname, .land, .telefon, .email, .password, .password2,.torauswahl, .submit,.division').show();
                            $('.name, .zugehoerigkeit, .strasse,.PLZ, .stadt,.leer').hide();
                        }
                        else if($('#pick').val() == "breuninger"){
                            $('.username, .vorname, .name, .zugehoerigkeit, .division, .strasse, .PLZ, .stadt, .land, .telefon ,.email, .password, .password2,.torauswahl, .submit').show();
                            $('.leer').hide();
                        }
                        else {
                            $('.name, .zugehoerigkeit,.division, .strasse,.PLZ, .stadt, .username, .vorname, .land, .telefon, .email, .password, .password2,.torauswahl .submit').hide();
                            $('.leer').show();
                        }
                    });
                    $('#torauswahl').multiselect();
                });
            </script>
