<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kontakt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<form action="/users/register" method="POST">

<div class="fh5co-loader"></div>

<div id="page">
    <div class="container-wrap">
        <div class="flexslider">
        </div>
    </div><!-- END container-wrap -->
    <div class="container-wrap">
        <main id="fh5co-footer" role="contentinfo">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Kontaktinformation</h1>
                    <h4>Sie erreichen uns unter folgenden Daten: <br></h4>
                    <div class="fh5co-footer">
                        <p><br> E. Breuninger GmbH & Co. <br> <i class="fas fa-home"></i> &nbsp Eschenbrünnlestraße 11, 71065 Sindelfingen
                            <br><i class="fas fa-phone-alt"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 98</a>&nbsp;
                            <br>Mo-Fr 8:00 bis 13:00 Uhr
                            <br><i class="fas fa-print"></i><a href="tel://1234567920"> &nbsp +49 (0) 1235 / 2355 </a>&nbsp;
                            <br><i class="fas fa-envelope"></i><a href="mailto:info@breuninger.com"> &nbsp info@breuninger.com</a>
                            <br><a href="https://www.breuninger.com/de/"> www.breuninger.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-12 text-center"style="margin-bottom: 10px">
                    <p>
                        <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                    </p>
                </div>
            </div>
        </main>
    </div><!-- END container-wrap -->
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>
</body>
</html>
