<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div ><a href="/buchungen/startseite_spediteur" ><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li><a href="/buchungen/startseite_spediteur"><span class="fa fa-home"></span> Startseite</a></li>
                            <li><a href="Benutzerinfo_Spediteur.html"><span class="fa fa-user"></span> Benutzerinformation</a></li>
                            <li><a href=""><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <div class="container-wrap">
        <div class="flexslider">
            <h2> Tor buchen</h2>

            <div id="scheduler">

            </div>
            <button><a href="neueBuchung_Spediteur.html" class="next">Zur Buchung</a></button>
            <button><a href="buchungsuebersicht.html" class="next">Zur Buchungsübersicht</a></button>





        </div><!--  END container-wrap -->
        <div class="container-wrap">
            <footer id="fh5co-footer" role="contentinfo">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Kontaktinformation</h4>
                        <div class="fh5co-footer">
                            <p> E. Breuninger GmbH & Co. <br> Eschenbrünnlestraße 11, 71065 Sindelfingen
                                <br>Tel-Nr. <a href="tel://1234567920">+ 49 1235 2355 98</a>&nbsp;
                                <br><a href="mailto:info@yoursite.com">info@breuninger.com</a>
                                <br><a href="http://gettemplates.co">www.breuninger.com</a>
                            </p>
                        </div>

                    </div>
                    <div class="row copyright">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div><!-- END container-wrap -->
    </div>
</div>

</body>
<script >






        $(document).ready(function () {

            const appointments = [];
            var buchungArray = JSON.parse(<%=buchungen%>);

            for(var i=0; i < buchungArray.length; i++) {

                var appointment = {};
                var monat = 1 + buchungArray[i].from.getMonth();
                var von = -1 + buchungArray[i].from.getHours();
                var vonMin = buchungArray[i].from.getMinutes();
                var bisMonat = 1 + buchungArray[i].from.getMonth();
                var bis = -1 + buchungArray[i].to.getHours();
                var bisMin = buchungArray[i].to.getMinutes();



                appointment[i] = {
                    calendar: buchungArray[i].tor,
                    start: new Date(buchungArray[i].from.getDate(), monat, buchungArray[i].from.getDay(), von, vonMin, 0),
                    end: new Date(buchungArray[i].to.getDate(), bisMonat, buchungArray[i].to.getDay(), bis, bisMin, 0)
                }

                appointments.push(appointment[i]);
                console.log(appointments);
            }


// prepare the data
        var source =
            {
                dataType: "array",
                dataFields: [
                    { name: 'calendar', type: 'number' },
                    { name: 'start', type: 'date' },
                    { name: 'end', type: 'date' }
                ],
                localData: appointments
            };
        var adapter = new $.jqx.dataAdapter(source);
            $("#scheduler").jqxScheduler({
                date: new $.jqx.date(2015, 10, 23),
                width: 1050,
                height: 600,
                dayNameFormat: "abbr",
                source: adapter,
                view: 'dayView',
                showLegend: true,
                ready: function () {
                    $("#scheduler").jqxScheduler('ensureAppointmentVisible', 'id1');
                },
                resources:
                    {
                        colorScheme: "scheme09",
                        dataField: "calendar",
                        orientation: "horizontal",
                        source:  new $.jqx.dataAdapter(source)
                    },
                appointmentDataFields:
                    {
                        from: "start",
                        to: "end",
                        id: "id",
                        description: "about",
                        subject: "subject",
                        resourceId: "calendar"
                    },
                views:
                    [
                        { type: "dayView", showWeekends: false, timeRuler: { hidden: false } },
                        { type: "weekView", showWeekends: false, },
                        { type: "monthView", showWeekends: false  }
                    ]
            });
            $('.jqx-group-button-normal').hide();
            $('#toolbarscheduler').hide();
            $("tr[data-key='jqxscheduler_48']").hide();
            $("tr[data-key='jqxscheduler_47']").hide();
            $("tr[data-key='jqxscheduler_46']").hide();
            $("tr[data-key='jqxscheduler_45']").hide();
            $("tr[data-key='jqxscheduler_44']").hide();
            $("tr[data-key='jqxscheduler_43']").hide();
            $("tr[data-key='jqxscheduler_42']").hide();
            $("tr[data-key='jqxscheduler_41']").hide();
            $("tr[data-key='jqxscheduler_40']").hide();
            $("tr[data-key='jqxscheduler_39']").hide();
            $("tr[data-key='jqxscheduler_38']").hide();
            $("tr[data-key='jqxscheduler_37']").hide();
            $("tr[data-key='jqxscheduler_36']").hide();
            $("tr[data-key='jqxscheduler_35']").hide();
            $("tr[data-key='jqxscheduler_34']").hide();
            $("tr[data-key='jqxscheduler_33']").hide();
            $("tr[data-key='jqxscheduler_32']").hide();
            $("tr[data-key='jqxscheduler_31']").hide();
            $("tr[data-key='jqxscheduler_30']").hide();
            $("tr[data-key='jqxscheduler_29']").hide();
            $("tr[data-key='jqxscheduler_14']").hide();
            $("tr[data-key='jqxscheduler_13']").hide();
            $("tr[data-key='jqxscheduler_12']").hide();
            $("tr[data-key='jqxscheduler_11']").hide();
            $("tr[data-key='jqxscheduler_10']").hide();
            $("tr[data-key='jqxscheduler_9']").hide();
            $("tr[data-key='jqxscheduler_8']").hide();
            $("tr[data-key='jqxscheduler_7']").hide();
            $("tr[data-key='jqxscheduler_6']").hide();
            $("tr[data-key='jqxscheduler_5']").hide();
            $("tr[data-key='jqxscheduler_4']").hide();
            $("tr[data-key='jqxscheduler_3']").hide();
            $("tr[data-key='jqxscheduler_2']").hide();
            $("tr[data-key='jqxscheduler_1']").hide();
            $('#jqxScrollThumbverticalScrollBarscheduler').scrollTop(100);
        });
</script>
</html>
