<!DOCTYPE HTML>
<html>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div ><a href="/buchungen/startseite_spediteur" ><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-lg-9 text-right menu-2" style="padding-top: 20px; padding-left: 120px;">
                        <ul>
                            <li><a href="/buchungen/startseite_spediteur"><span class="fa fa-home"></span> Startseite</a></li>
                            <li><a href="Benutzerinfo_Spediteur.html"><span class="fa fa-user"></span> Benutzerinformation</a></li>
                            <li><a href=""><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <div class="container-wrap">
        <div class="flexslider">
            <h2> Tor buchen</h2>
            <div id="scheduler">

            </div>
            <button><a href="neueBuchung_Spediteur.html" class="next">Zur Buchung</a></button>
            <button><a href="buchungsuebersicht.html" class="next">Zur Buchungsübersicht</a></button>




        </div><!--  END container-wrap -->
        <div class="container-wrap">
            <footer id="fh5co-footer" role="contentinfo">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4>Kontaktinformation</h4>
                        <div class="fh5co-footer">
                            <p><br> E. Breuninger GmbH & Co. <br> <i class="fas fa-home"></i> &nbsp Eschenbrünnlestraße 11, 71065 Sindelfingen
                                <br>Mo-Fr 07:00 bis 15:00 Uhr
                                <br><i class="fas fa-phone-alt"></i><a href="tel:+4970316162437"> &nbsp +49 (0) 7031 / 616 2437</a>&nbsp;
                                <br><i class="fas fa-print"></i><a href="tel:+4970316162036"> &nbsp +49 (0) 7031 / 616 2036</a>&nbsp;
                                <br><i class="fas fa-envelope"></i><a href="mailto:info@breuninger.com"> &nbsp wareneingang.logistik@breuninger.de</a>
                                <br><a href="https://www.breuninger.com/de/"> www.breuninger.com</a>
                            </p>
                        </div>

                    </div>
                    <div class="row copyright">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div><!-- END container-wrap -->
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Torsperrung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Sie sind dabei ein Tor zu sperren. <br>Falls Sie sich sicher sind, verfassen Sie den Grund.
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label ">Bemerkung:</label>
                        <textarea class="form-control torbemerkung" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary torsperren">Tor sperren</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        var appointments = new Array();

        var appointment1 = {
            id: "id1",
            description: "George brings projector for presentations.",
            location: "",
            subject: "Quarterly Project Review Meeting",
            calendar: "Gate 1",
            start: new Date(2020, 0, 22, 9, 0, 0),
            end: new Date(2020, 0, 22, 16, 0, 0)
        }

        var appointment2 = {
            id: "id2",
            description: "",
            location: "",
            subject: "IT Group Mtg.",
            calendar: "Gate 2",
            start: new Date(2020, 0, 22, 10, 0, 0),
            end: new Date(2020, 0, 22, 15, 0, 0)
        }

        var appointment3 = {
            id: "id3",
            description: "",
            location: "",
            subject: "Course Social Media",
            calendar: "Gate 3",
            start: new Date(2020, 1, 27, 11, 0, 0),
            end: new Date(2020, 1, 27, 13, 0, 0)
        }
/*
        var appointment4 = {
            id: "id4",
            description: "",
            location: "",
            subject: "New Projects Planning",
            calendar: "Room 2",
            start: new Date(2020, 1, 23, 16, 0, 0),
            end: new Date(2020, 1, 23, 18, 0, 0)
        }

        var appointment5 = {
            id: "id5",
            description: "",
            location: "",
            subject: "Interview with James",
            calendar: "Room 1",
            start: new Date(2020, 1, 25, 15, 0, 0),
            end: new Date(2020, 1, 25, 17, 0, 0)
        }

        var appointment6 = {
            id: "id6",
            description: "",
            location: "",
            subject: "Interview with Nancy",
            calendar: "Room 4",
            start: new Date(2020, 1, 26, 14, 0, 0),
            end: new Date(2020, 1, 26, 16, 0, 0)
        }*/
        appointments.push(appointment1);
        appointments.push(appointment2);
        appointments.push(appointment3);
       /*
        appointments.push(appointment4);
        appointments.push(appointment5);
        appointments.push(appointment6);*/


        // prepare the data
        var source =
            {
                dataType: "array",
                dataFields: [
                    { name: 'id', type: 'string' },
                    { name: 'description', type: 'string' },
                    { name: 'location', type: 'string' },
                    { name: 'subject', type: 'string' },
                    { name: 'calendar', type: 'string' },
                    { name: 'start', type: 'date' },
                    { name: 'end', type: 'date' }
                ],
                id: 'id',
                localData: appointments
            };
        var adapter = new $.jqx.dataAdapter(source);
        $("#scheduler").jqxScheduler({
            date: new $.jqx.date('todayDate'),
            width: 850,
            height: 600,
            source: adapter,
            showLegend: false,
            ready: function () {
                $("#scheduler").jqxScheduler('ensureAppointmentVisible', 'id1')
            },
            resources:
                {
                    colorScheme: "scheme02",
                    dataField: "calendar",
                    orientation: "horizontal",
                    source: new $.jqx.dataAdapter(source)
                },
            appointmentDataFields:
                {
                    from: "start",
                    to: "end",
                    id: "id",
                    description: "description",
                    location: "place",
                    subject: "subject",
                    resourceId: "calendar"
                },
            view: 'dayView',
            views:
                [
                    { type: "dayView", showWeekends: false, timeRuler: { hidden: false } },
                    { type: "weekView", showWeekends: false, },
                    { type: "monthView", showWeekends: false  }
                ]
        });
        $('.jqx-group-button-normal').hide();
        $('#toolbarscheduler').hide();
        $('#jqxScrollThumbverticalScrollBarscheduler').scrollTop(100);
    });
</script>
</html>

