<!DOCTYPE HTML>
<html>
<head>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: yellowgreen;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: orangered;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>


</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div><a href="/buchungen/startseite_breuninger"><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-lg-9 text-right menu-2" style="padding-top: 20px; padding-left: 120px;">
                        <ul>
                            <li class="active"><a href="/buchungen/startseite_breuninger"><span class="fa fa-home"></span> Startseite</a></li>
                            <li><a href="/users/Benutzerverwaltung_Mitarbeiter"><span class="fa fa-user"></span> Benutzerverwaltung</a></li>
                            <li><a href="/buchungen/torverwaltung"><span class="fas fa-archway"></span> Torverwaltung</a></li>
                            <li><a href="/users/logout"><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-wrap">
        <div class="flexslider">
            <h2>Torverwaltung</h2>
            <table id="tore" class="cell-border">
                <thead>
                <tr>
                    <th>Tor</th>
                    <th>Status</th>
                    <th>Sperren/Entsperren</th>
                    <th>Bemerkung</th>
                </tr>
                </thead>
                <tbody>
                <%for (var i = 0; i < tor.length; i++) { %>
                <tr data-index="0">
                    <td><%=tor[i].gate%></td>
                    <td class="status"></td>
                    <td class="sperren"></td>
                    <td class="bemerkung"></td>
                </tr>
                <%}%>
                </tbody>
            </table>
            <label class="leer" style="padding-top: 50px"></label>
        </div>
    </div><!-- END container-wrap -->
    <div class="container-wrap">
        <footer id="fh5co-footer" role="contentinfo">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Kontaktinformation</h4>
                    <div class="fh5co-footer">
                        <p> E. Breuninger GmbH & Co. <br> Eschenbrünnlestraße 11, 71065 Sindelfingen
                            <br>Tel-Nr. <a href="tel://1234567920">+ 49 1235 2355 98</a>&nbsp;
                            <br><a href="mailto:info@yoursite.com">info@breuninger.com</a>
                            <br><a href="http://gettemplates.co">www.breuninger.com</a>
                        </p>
                    </div>

                </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- END container-wrap -->

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Torsperrung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        Sie sind dabei ein Tor zu sperren. <br>Falls Sie sich sicher sind, verfassen Sie einen Grund.
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label ">Bemerkung:</label>
                        <textarea class="form-control torbemerkung" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary abbrechen" data-index="0" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary torsperren" data-index="0">Tor sperren</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {

        $('#tore').DataTable({
            searching: false,
            bInfo: false,
            paging: false,
            ordering: false
        });

        $('.sperren').each(function () {
            $(this).append('<label class="switch">' +
                '<input type="checkbox" class="sperrung" value="false">' +
                '<span class="slider round"></span>' +
                '</label>'
            );
            $('.sperrung').change(function () {
                if($('.sperrung').is(':checked')){
                    $('.sperrung').val('true');
                    console.log($('.sperrung').val());
                }
                else {
                    $('.sperrung').val('false');
                    console.log($('.sperrung').val());
                }
            });
        });
        $('.slider').change(function () {
            if ($(this).is(':checked')) {

            }
        });
        $('#tore').find('.status').text("in Betrieb");
        // open modal on slide change
        $('input[type="checkbox"]').on('change', function (e) {
            // get index from `tr`
            var index = $(this).parents('tr').data().index;
            if (e.target.checked) {
                var modalinstance = $('#exampleModal');
                // assign index
                modalinstance.find('.torsperren').attr('data-index', index);
                modalinstance.find('.abbrechen').attr('data-index', index);
                // open modal
                modalinstance.modal('show');
                // reset value
                modalinstance.find('.torbemerkung').val('');
            } else {
                // clear data by selecting the row with the given index
                $('#tore').find('tr[data-index="' + index + '"]').find('.bemerkung').text("");
                $('#tore').find('tr[data-index="' + index + '"]').find('.status').text("in Betrieb");
            }
        });


        // textarea example
        $('.torsperren').click(function () {
            var index = $(this).attr('data-index');
            // find element by index and assign the given value
            $('#tore').find('tr[data-index="' + index + '"]').find('.bemerkung').text($('.torbemerkung').val());
            $('#tore').find('tr[data-index="' + index + '"]').find('.status').text("gesperrt");
            $('#exampleModal').modal('hide');
        });

        $('.abbrechen').click(function () {
            var index = $(this).attr('data-index');
            $('#tore').find('tr[data-index="' + index + '"]').find('input[type="checkbox"]').prop('checked', false);
        });


    });
</script>
</html>