<!DOCTYPE HTML>
<html>
<head>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: yellowgreen;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: orangered;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        #buttonAnzeigen{
            background-color: transparent;
            border: white;
        }
        ::selection{
            background-color:white!important;
            color:black;
        }
    </style>
</head>
<body>
<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container-wrap" style="height: 120px;">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div><a href="/buchungen/startseite_breuninger"><img src="../images/logo-breuninger.jpeg" style="padding-bottom:10px; width: 200px; height:70px;"></a></div>
                    </div>
                    <div class="col-lg-9 text-right menu-2" style="padding-top: 20px; padding-left: 120px;">
                        <ul>
                            <li class="active"><a href="/buchungen/startseite_breuninger"><span class="fa fa-home"></span> Startseite</a></li>
                            <li><a href="/users/Benutzerverwaltung_Mitarbeiter"><span class="fa fa-user"></span> Benutzerverwaltung</a></li>
                            <li><a href="/buchungen/torverwaltung"><span class="fas fa-archway"></span> Torverwaltung</a></li>
                            <li><a href="/users/logout"><span class="fa fa-power-off"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

        <div class="container-wrap">
            <div class="flexslider">
                <h2>Torverwaltung</h2>
                <table id="tore" class="cell-border">
                    <form name="torVerw" onsubmit="return sperren();">
                    <thead>
                    <tr>
                        <th>Tor</th>
                        <th>Status</th>
                        <th>Sperren/Entsperren</th>
                        <th>Bemerkung</th>
                    </tr>
                    </thead>
                    <tbody style="height: 40px" >
                    <%for (var i = 0; i < tor.length; i++) { %>
                    <tr data-index="0">
                        <td><%=tor[i].gate%></td>
                        <td><p id="demo">in Betrieb</p></td>
                        <td>
                            <button id="buttonAnzeigen" onclick="sperren()"><i class="fas fa-lock" data-toggle="tooltip" title="Freigeben/Sperren"></i></button>
                        </td>
                        <td style="height: 40px"><input type="text" class="form-control" style="border-radius: 10px; height: 35px;" name="Bemerkung" value=""><br></td>
                    </tr>
                    <%}%>
                    </tbody>
                    </form>
                </table>
                <label class="leer" style="padding-top: 50px"></label>
            </div>
        </div>

</div>
</div><!-- END container-wrap -->
<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Kontaktinformation</h4>
                <div class="fh5co-footer">
                    <p> E. Breuninger GmbH & Co. <br> Eschenbrünnlestraße 11, 71065 Sindelfingen
                        <br>Tel-Nr. <a href="tel://1234567920">+ 49 1235 2355 98</a>&nbsp;
                        <br><a href="mailto:info@yoursite.com">info@breuninger.com</a>
                        <br><a href="http://gettemplates.co">www.breuninger.com</a>
                    </p>
                </div>

            </div>
            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2020 Breuninger. All Rights Reserved.</small>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div><!-- END container-wrap -->
</div>
</body>
<script>
    $(document).ready(function () {

        $('#tore').DataTable({
            searching: false,
            bInfo: false,
            paging: false,
            ordering: false,
            "columnDefs": [
                { "width": "30px", "targets": [1],
                    "width": "15px", "targets": [0],
                    "width": "60px", "targets": 2}
            ]
        });
    });
</script>
<script type="text/javascript">

    function sperren() {
        var txt;

        if (confirm("Sie sind gerade dabei ein Tor zu sperren! Wenn Sie sich sicher sind, verfassen Sie anschließend einen Grund.")) {

            txt = "gesperrt";
            document.getElementById("demo").innerHTML = txt;
        } else {
            txt = "in Betrieb";
            document.getElementById("demo").innerHTML = txt;
        }

    }
</script>
</html>